bars {
    display: grid;
    grid-template-columns: 1fr;
}

bars account {
    grid-row-start: 1;
    grid-row-end: 1;
    
    padding-top: 1rem;
    padding-bottom: 1rem;

    background-color: var(--grey);
}

bars tip {
    grid-row-start: 2;
    grid-row-end: 2;
    
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    
    background-color: var(--light-blue);
}

bars account a {
    color: white;
    font-size: 1.2rem;
    text-decoration: none;
    
    padding: 1rem 1% 1rem 1%;
    margin-left: 5%;
    width: 20%;
    
    background-color: black;
}

bars tip a {
    font-weight: bold;
    font-size: 1.5rem;
    padding-left: 5%;
}

main {
    display: grid;
    justify-items: center;
}

form[name="search"]{
    grid-row-start: 1;
    grid-row-end: 1;
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    
    background-color: var(--light-grey);
    
    width: 100%;
    padding: 2.5% 0;
    margin-top: 10%;
}

label[name="search_field"] {
    grid-column-start: 2;
    grid-column-end: 4;
    
    grid-row-start: 2;
    
    display: grid;
    grid-template-columns: 1fr 9fr 1fr;
    grid-template-rows: 1fr;
    
    justify-items: center;
    
    border: none;
    border-bottom: 1px solid black;
}

img {
    grid-row-start: 1;
    grid-column-start: 1;
    grid-column-end: 1;
    
    max-width: 50%;
    height: auto;
    margin-top: 20%;
    margin-bottom: 20%;
}

input[name="search_field"]{
    grid-row-start: 1;
    grid-column-start: 2;
    grid-column-end: 2;
    
    font-size: 2rem;
    border: none;
    background-color: var(--light-grey);
    
    padding-left: 2.5%;
    width: 100%;
}

input::placeholder {
    font-size: 2rem;
}

input:focus, form:focus, button:focus {
    outline: none;
}

button{
    grid-row-start: 1;
    grid-column-start: 3;
    grid-column-end: 3;

    background-color: var(--dark-blue);

    color: white;
    font-size: 1.2rem;

    border:none;
    border-radius: 0.5em;

    width: 100%;
    height: 50%;
  
    margin-top: 25%;
    margin: 10px;
}

#mentor_count {
    max-block-size: 1rem;
    margin-bottom: 2.5%;
}

dataBox {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    
    margin: 1% 0 2.5% 0;
    width: 50%;
    
    background-color: var(--light-grey);
    border-radius: 1em;
}

dataBox h1 {
    grid-row-start: 1;
    
    grid-column-start: 1;
    grid-column-end: 4;
    
    background-color: var(--dark-blue);
    font-size: 1.2rem;
    
    border-radius: 1em 1em 0 0;
    
    margin: 0;
    padding: 1.5rem;
}

dataBox p {
    grid-column-start: 1;
    
    font-size: 1.2rem;
    
    margin-bottom: 1rem;
    padding: 1.5rem 1.5rem 0 1.5rem;
}

dataBox form {
    grid-row-start: 5;
    grid-column-start: 2;
  
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}

dataBox form button { 
    grid-row-start: 2;
    grid-column-start: 1;
  
    width: 45%;
    height: auto;
  
    margin: 0;
    padding: 1% 0;
}

dataBox button:hover {
    cursor: pointer;
}

dataBox form a {
    grid-row-start: 2;
    grid-column-start: 2;
  
    margin: 0;
    padding: 1% 0;
  
    width: 90%;
  
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    white-space: pre;
    word-wrap: break-word;
    text-align: center;

    border: none;
    border-radius: 0.5em;
  
    background-color: var(--dark-blue);
}

::placeholder{
    color: rgba(5, 5, 5, 0.72);
    padding-right: 20%;
    font-size: 20px;
}

