<html>
<head>
  <title>Login(Choose)</title>
  <link rel="stylesheet" href="style/index.css">
</head>

<div class="choose">
<div class="wrapper">
<body>
  <h1>Login Page</h1>
  <h2>Are you a</h2>
  <a href="login" class="button1">Mentee</a>
  <a href="loginmentor" class="button1">Mentor</a>
</body>
</div>
</div>
</html>