<html>
<head>
  <title>Server Error</title>
  <link rel="stylesheet" href="style/error.css">
</head>
    
<body> 
  <h1> Error 500 </h1>
  <div class= "wrapper">
    <p> The server encountered an internal error and is unable to complete your request </p>
  </div>
</body>
</html>