<html>
<head>
  <title>Forgot My Password</title>
  <link rel="stylesheet" href="style/error.css">
</head>
  
<body>
  <h2><img src="/pictures/mentorlogo.png"></h2>
  <div class="suspend">
  <div class="leftright">
    <h3>Forgot My Password</h3>
    <p> If you've forgotten your password please enter your email below so we can send you a new password</p>
    <form action="/forgot_password" method="post" onsubmit="alert('Email has been sent');">
      <p>
        <input type="hidden"name="subject" value="Forgot My Password"  required> <br>
      </p>
      
      <p>
        <input type="hidden" name="body" value="please change my password"/> <br>
      </p>

      <p>
        <label for ="email">Enter your email</label><br>
        <input type="email" name="sender" /> <br>
      </p>

      <p>
        <input type="submit" value="submit" name="submit">
      </p>
    </form>        
              
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>MentorSearch Team</p>
  </div>
  </div>
</body>
</html>