<html>
<head>
  <title>Landing Page</title>
  <link rel="stylesheet" href="/style/landing.css">    
</head>
  
<body>
  <header>
    <a class="logo" href="/search"><img src="pictures/mentorlogo.png" alt="mentorsearch"></a>
    <a class="lg" href="/chooselogin">Login</a>
  </header>
  
  <h2><img src="pictures/mentor.jpg" alt="mentoring" width=200></h2>
    <div class="title">
    <h1>Get advice and mentorship from industry experts</h1>
    <p>
      MentorSearch connects students with mentors to
      help their academic studies and develop them to get prepared
      with essential skills for their future career
    </p>
    </div>
  
    <ul class="bpanel">
      <li><a href="/register">I need a mentor</a></li>
      <li><a href="/registermentor">Become a mentor</a></li>
      <li><a href="/search">Take a look</a></li>
    </ul>         
  </body>
</html>